<button class="btn btn-primary m-2" action="incrementCounter">
    Increment
</button>

<div>
    {{#if ( isOdd counter ) }}
        <h4 class="bg-info text-white m-2 p-2">
            Handlebars Odd value: {{ counter }}
        </h4>
    {{ else }}
        <h4 class="bg-secondary text-white m-2 p-2">
            Handlebars Even value: {{ counter }}
        </h4>
    {{/if }}
</div>